@CHARSET "UTF-8";

/* ////////////////////////////// */
/* ///////   main frame   /////// */
/* ////////////////////////////// */

body {
	margin: 0 0 0 0;
/* 	좌우 스크롤 방지 */
	overflow-x: hidden;
	overflow-y: auto; 
	border: 1px solid white;
}

#uppermost-header {
	min-height: 110px;
/* 	border-bottom: 1px solid gray; */
}

#uppermost-nav {
	min-height: 50px;
/* 	border-bottom: 1px solid gray; */
}

#uppermost-section {
	min-height: 700px;
}

#uppermost-footer {
	height: 110px;
}

/* ////////////////////////////// */
/* ///////     header     /////// */
/* ////////////////////////////// */

.header-logo{
	
}

@media screen and (min-width: 460px){
	#headerlogo{
		position: absolute;
		left: 23.6842%;
	}
}

.loginBox{
	margin-top: 60px;
	float: right;
}

/* ////////////////////////////// */
/* ///////      navi      /////// */
/* ////////////////////////////// */

#brandimg{
	margin-top: -10px;
}

/* .navbar{ */
/* 	margin-bottom: 0px; */
/* } */

/* ////////////////////////////// */
/* ///////     footer     /////// */
/* ////////////////////////////// */

#footer-list{
	text-align: center;
}

/* ////////////////////////////// */
/* ///////    register    /////// */
/* ////////////////////////////// */

#joinform > div {
	margin-bottom: 25px;
}

.userimg {
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  margin: 15px auto;
}

/* ////////////////////////////// */
/* ///////   boardlist   /////// */
/* ////////////////////////////// */

#board-pagination {
	text-align: center;
}

.table thead {
	text-align: center;
}

#th-listNum {
	width:5%;
	text-align: right;
}

#th-title {
	width:55%;
	text-align: center;
}

#th-user {
	width:15%;
	text-align: center;
}

#th-views {
	width:7%;
	text-align: center;
}

#th-likes {
	width:7%;
	text-align: center;
}

#th-wDate {
	width:11%;
	text-align: center;
}

@media screen and (max-width: 1200px){
	#th-listNum {
	width:7%;
	}
	
	#th-title {
		width:45%;
	}
	
	#th-user {
		width:17%;
	}
	
	#th-views {
		width:10%;
	}
	
	#th-likes {
		width:10%;
	}
	
	#th-wDate {
		width:11%;
	}
}

#td-listNum {
	text-align: right;
}

#td-title {
}

#td-user {
	text-align: center;
}

#td-views {
	text-align: center;
}

#td-likes {
	text-align: center;
}

#td-wDate {
	text-align: center;
}

/* ////////////////////////////// */
/* ///////  contentForm  /////// */
/* ////////////////////////////// */

#editBtnDiv {
	float: right;
}

#text-form {
	width:100%;
	min-height:315px;
	padding: 5px 5px 5px 5px;
	border-width:1px;
	border-color:#EFEFEF;
	border-style:solid;
}

#newCmt-form {
	width:100%;
	min-height:75px;
	padding: 5px 5px 5px 5px;
	border-width:1px;
	border-color:#EFEFEF;
	border-style:solid;
}

#cmt-form {
	width:100%;
	min-height:115px;
	padding: 5px 5px 5px 5px;
	border-width:1px;
	border-color:#EFEFEF;
	border-style:solid;
/* 	position: relative; */
/* 	float: right; */
}

.cmtDiv p{
	text-align: center;
}

.cmtDiv img{
	width: 75%;
	height: auto;
}


