<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.serene.latte.dao.BoardMapper">
<!-- 	<parameterMap type="" id=""> -->
<!-- 		<parameter property=""/> -->
<!-- 	</parameterMap> -->
<!-- 	<insert id="addContents"> -->
<!-- 		INSERT INTO FBOARDS(userId, sortNum, title, viewCount, likeCount, content) -->
<!-- 		VALUES ( -->
<!-- 		#{(SELECT userId FROM USERS where userId=#{userId})}, -->
<!-- 		#{sortNum}, #{title}, #{viewCount}, #{likeCount}, -->
<!-- 		#{} -->
<!-- 		); -->
<!-- 	</insert> -->

	<insert id="addContents" parameterType="string">
		INSERT INTO FBOARDS(title, content, userId)
		VALUES (#{title}, #{content}, #{userId});
	</insert>
	
	<select id="boardList" resultType="BoardDTO">
		select listNum, title, userId, content, writeDate, viewCount, likeCount
		from FBOARDS
		ORDER BY listNum DESC
	</select>

	<select id="viewContent" parameterType="string" resultType="BoardDTO">
		select listNum, title, userId, content, writeDate, viewCount, likeCount
		from FBOARDS
		where listNum=#{listNum}
	</select>
</mapper>